@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



@theme {
  --color-gold: #C4B454;
  --color-sage: #9BB9B7;
  --color-light-sage: #F0F5F4;
  --color-dark-sage: #64908D;
  --color-darker-sage: #547876;
  --color-beige: #F4F1EA;
  --color-cream: #FAFAF9;
}

body {
  @apply bg-cream;
}