@import url(https://db.onlinewebfonts.com/c/111831f1adf5b66e99ecfe36b9033523?family=Milliard+Heavy);
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-gold: #C4B454;
  --color-sage: #9BB9B7;
  --color-light-sage: #F0F5F4;
  --color-dark-sage: #64908D;
  --color-darker-sage: #547876;
  --color-beige: #F4F1EA;
  --color-cream: #FAFAF9;
  --color-honey:#FFBF69;
  --color-light-honey:#FFE4C2;
  --color-amber:#FF9F1C;
  --color-light-frozen:#EEFBFA;
  --color-frozen-water:#CBF3F0;
  --color-sea-green:#2EC4B6;

  --font-milliard-heavy: "Milliard Heavy"
}

body {
  @apply bg-cream;
}

.small-caps {
  font-variant-caps: small-caps;
}